description "Gunicorn server for SITENAME"

start on net-device-up
stop on shutdown

respawn

setuid stri
chdir /home/stri/sites/SITENAME/source

exec ../virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket NAME_APP.wsgi:application
